{% extends 'base.html' %}

{% block head %}
<title>Mobile Price</title>
{% endblock %}

{% block body %}
<!-- <div class="head">
    <h1 style="font-size: 40px; font-family: Sans-serif; color: #93690D;">Enter the features and see the Price range!</h1>
</div>
<div class="form" style="display: inline-block;">
	<form action = "/predict" method = "POST">
		<div class="row">
			<input type="number" name="battery" id="bp" placeholder="Battery Power (mAh)" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; float: left; margin-right: 40px; width: 400px;" required>
			<input type="number" name="RAM" id="ram" placeholder="Random Access Memory (MB)" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; width: 400px;" required>
		</div>
		<br><br>
		<div class="row">
			<input type="number" name="int_memory" id="int_space" placeholder="Internal Memory (GB)" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; float: left; margin-right: 40px; width: 400px;" required>
			<input type="number" name="talk_time" placeholder="Longest time last by battery" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; width: 400px;" required>
		</div>
		<br><br>
		<div class="row">
			<input type="number" name="fc" placeholder="Front Camera Mega Pixels" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; float: left; margin-right: 40px; width: 400px;" required>
			<input type="number" name="pc" placeholder="Primary Camera Mega Pixels" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; width: 400px;" required>
		</div>
		<br><br>
		<div class="row">
			<input type="number" name="sc_h" placeholder="Screen Height (cm)" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; float: left; margin-right: 40px; width: 400px;" required>
			<input type="number" name="sc_w" placeholder="Screen Width (cm)" style="border-radius: 10px; line-height: 5px; padding-left: 10px; font-size: 25px; display: flex; width: 400px;" required>
		</div><br><br>
		<input type="submit" value="Check" style="font-size: 30px; width: 300px; border-radius: 12px; color: #041946; background-color: #09BDBA;">
	</form><br>
	<h2 style="color: {{ col }}; font-size: 30px;">{{ predicted_text }}</h2>
	<small style="color: white;">* The range is according to the present trend</small><br><br>
	<a href = "{{ link }}", style="color: {{ col }}; font-size = 20px;">You can visit here for Buying</a>
</div> -->
<div class="head">
        <h1 style="font-size: 40px; font-family: Sans-serif; color: #fffefd; padding-top: 30px;">Enter the features you would like to see</h1><br>
    </div>
    <div class="form" style="padding-left: 18%; align-items: center;">
        <form action = "/" method = "POST">
            <div class="form-row" style="align-items: center">
                <div class="form-group col-md-6">
                  <label for="battery">Enter battery power (mAh)</label>
                  <input type="number" style="width: 350px;" name="battery" class="form-control" id="bp" placeholder="Battery Power" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="RAM">RAM (MB)</label>
                  <input type="number" style="width: 350px;" class="form-control" id="ram" placeholder="RAM" required>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="int_memory">Internal Storage (GB)</label>
                  <input type="number" style="width: 350px;" name="int_memory" class="form-control" id="int_space" placeholder="Internal Storage" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="talk_time">Longest time last by battery</label>
                  <input type="number" style="width: 350px;" name="talk_time" class="form-control" placeholder="Battery time last" required>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="fc">Front Camera (Mega Pixels)</label>
                  <input type="number" style="width: 350px;" name="fc" class="form-control" placeholder="Front camera" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="pc">Primary Camera (Mega Pixels)</label>
                  <input type="number" style="width: 350px;" name="pc" class="form-control" placeholder="Primary camera" required>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="sc_h">Screen Height (cm)</label>
                  <input type="number" style="width: 350px;" name="sc_h" class="form-control" placeholder="Screen height" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="sc_w">Screen Width</label>
                  <input type="number" style="width: 350px;" name="sc_w" class="form-control" placeholder="Screen width" required>
                </div>
            </div><br>
            <button type="submit" class="btn btn-secondary btn-lg" style="margin-left: 34%; width: 150px;">Submit</button>
            <!-- <input type="submit" value="Check" style="font-size: 30px; width: 300px; border-radius: 12px; color: #041946; background-color: #09BDBA;"> -->
        </form><br>
        <h2 style="color: blue; font-size : 30px; margin-left: 30%;">{{ predicted_text }}</h2>
        <small style="color: rgb(1, 1, 1); margin-left: 30%;">* The range is according to the present trend</small><br><br>
        <a href = "", style="color: blue; font-size: 20px; margin-left: 30%;">You can visit here for Buying</a>
    </div>
{% endblock %}
